@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100&family=Rethink+Sans&display=swap");

:root {
  --main-color: rgb(235, 45, 45);
  --bg-color: black;
  --text-color: white;

  ::-moz-selection {
    color: var(--bg-color);
    background: var(--red);
  }

  ::selection {
    color: var(--bg-color);
    background: var(--main-color);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
  padding: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;

  font-family: "Nunito", sans-serif;
  font-family: "Rethink Sans", sans-serif;
}

br {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
